* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
}

body::-webkit-scrollbar {
  width: 0;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    height: 5vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
  }
  .nav-container .navbar {
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAD;
    position: absolute;
  }
  .nav-container .navbar div {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 2vw;
  }
  .nav-container .navbar div .logo {
    z-index: 1;
    height: 50px;
  }
  .nav-container .navbar ul {
    height: 5vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }
  .nav-container .navbar ul li .btn-navbar {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
    user-select: none;
    margin: 0vw 2vw 0vw 2vw;
    cursor: pointer;
  }
  .nav-container .navbar ul li .btn-navbar:hover {
    border-bottom: 10px black outset;
    padding-bottom: 28px;
  }
  .contact-info {
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 9vh;
    display: none;
    color: black;
    font-size: 1vw;
  }
  .contact-info div:first-child {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px black groove;
    justify-content: space-around;
  }
  .contact-info div:first-child div {
    height: 5vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-info div:first-child div a {
    transition: all 0.3s ease-out;
  }
  .contact-info div:first-child div a img {
    height: 2vw;
    margin: 2vw;
  }
  .contact-info div:first-child div a:hover {
    transform: scale(1.2);
  }
  #head-cover {
    height: 130vh;
    width: 100vw;
    z-index: -1;
    background-color: #2E1114;
    position: fixed;
    top: -15vh;
    background-image: url("./files/img/boxes/tecnology.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  main {
    height: auto;
    width: 100vw;
  }
  main .div-main {
    height: auto;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.096);
    position: absolute;
    top: 60vh;
    z-index: 0;
    border-top: 10px black outset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .div-main .div-profile-photo {
    height: 400px;
    width: 400px;
    background-image: url("./files//img/IMG_6377.jpg");
    background-size: 100%;
    background-position: cover;
    border-radius: 50%;
    position: absolute;
    top: calc(0% - 200px);
    left: calc(50% - 200px);
    border-bottom: 5px black outset;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer .footer-container {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 1;
    border-top: 1px black outset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  footer .footer-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  footer .footer-container ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .text {
    height: 90%;
    width: 80%;
    background-color: rgba(56, 44, 36, 0.548);
    border-radius: 1%;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
  }
  .text .only-for-infos {
    margin-top: 100px;
    height: 80%;
    width: 80%;
  }
  .icons-lang {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  .icons-lang img {
    height: 100px;
    margin:15px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-size: 10px;
  }
  .nav-container {
    height: 5vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
  }
  .nav-container .navbar {
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
  }
  .nav-container .navbar div {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 2vw;
  }
  .nav-container .navbar div .logo {
    z-index: 1;
    height: 25px;
  }
  .nav-container .navbar ul {
    height: 5vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }
  .nav-container .navbar ul li .btn-navbar {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
    user-select: none;
    margin: 0vw 2vw 0vw 2vw;
    cursor: pointer;
  }
  .nav-container .navbar ul li .btn-navbar:hover {
    border-bottom: 10px black outset;
    padding-bottom: 20px;
  }
  .contact-info {
    height: 10vh;
    width: 100vw;
    background-color: #ADADAD;
    position: fixed;
    top: 9vh;
    display: none;
    color: black;
    font-size: 1vw;
  }
  .contact-info div:first-child {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px black groove;
    justify-content: space-around;
  }
  .contact-info div:first-child div {
    height: 5vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-info div:first-child div a {
    transition: all 0.3s ease-out;
  }
  .contact-info div:first-child div a img {
    height: 2vw;
    margin: 2vw;
  }
  .contact-info div:first-child div a:hover {
    transform: scale(1.2);
  }
  #head-cover {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: black;
    position: fixed;
    top: -15vh;
    background-image: url("./files/img/boxes/tecnology.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  main {
    height: 900px;
    width: 100vw;
  }
  main .div-main {
    height: 900px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.137);
    position: absolute;
    top: 60vh;
    z-index: 0;
    border-top: 10px black outset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .div-main .div-profile-photo {
    height: 200px;
    width: 200px;
    background-image: url("./files//img/IMG_6377.jpg");
    background-size: 100%;
    background-position: cover;
    border-radius: 50%;
    position: absolute;
    top: calc(0% - 100px);
    left: calc(50% - 100px);
    border-bottom: 5px black outset;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer .footer-container {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 1;
    border-top: 1px black outset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  footer .footer-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  footer .footer-container ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .text {
    height: 90%;
    width: 80%;
    background-color: rgba(56, 44, 36, 0.548);
    border-radius: 1%;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
  }
  .text .only-for-infos {
    margin-top: 100px;
    height: 80%;
    width: 80%;
    overflow-y: scroll;
  }
  .text .only-for-infos::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .icons-lang {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icons-lang img {
    height: 30px;
  }
}
