body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("../../../files/img/pexels-pok-rie-5799946.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  height: 70vh;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .policies {
  height: 95%;
  width: 95%;
  font-size: 2vw;
}
