$color : #2E1114;
$color-crown : #501B1D;
$color-light-crown : #64485C;
$color-lighter-crown : #83677B;
$color-grey-crown : #ADADAD;

*{
  margin:0;
  padding: 0;
  border: 0;
}
body{
  background-image: url('../../../files/img/code-707069_1920.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}


  .navbar{
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    div{
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      left: 2vw;
      .logo{
        z-index: 1;
        height: 50px;
      }
    }

    ul{
      height: 5vh;
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      list-style: none;
      li{
        .btn-navbar{
          text-decoration: none;
          font-weight: bold;
          transition: all 0.2s ease;
          user-select: none;
          margin: 0vw 2vw 0vw 2vw;
          cursor: pointer;
          color: white;
        }
        .btn-navbar:hover{
          border-bottom: 10px black outset;
          padding-bottom: 28px;

        }
      }
    }
  }
  .contact-info{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    display: none;
    div:first-child{
      height: 10vh;
      width: 100vw;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      div{

        a{
          img{
            height: 50px;
            margin-right: 20px;
          }
        }
      }

    }

  }
  footer{
    .footer-container{
      height: 5vh;
      border-top: 1px black outset;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      color: white;
      ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        li{
          a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }
  .heade-back{
    height:60vh;

  }
  #main-container{
    text-align: center;
    padding: 40px;
    line-height: 100px;
    color: rgb(255, 255, 255);
    
    background-color: rgba(0, 0, 0, 0.6);
  }
