@font-face {
    font-family:my-font;
    src: url('../files/fonts/my-font.ttf');
    
    
}

/////////////////////////////////////////////////////////
$color-theme : #073b4c; 
$color-dark : #118ab2;
$color-heart : #06d6a0;
$color-redlight : #ffd166;
$color-redlighter :#ef476f;
/////////////////////////////////////////////////////////
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:$color-redlight;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:$color-dark;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:$color-theme;
  }
/////////////////////////////////////////////////////////
@media only screen and (min-width: 930px)
{
    body {
        background-color:$color-theme;
        height: 100vh;
        width: 100vw;
        margin: 0;
        font-family: my-font;
        
      }
      .container{
        z-index: 6;
        nav{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
       height: 10vh;
       width: 100vw;
       
       
       .logo-img{
           height: 5vw;
           transition: all 0.3s ease-out;
           margin-right: 50px;
           
    
       }
       .logo-img:hover{
        transform: scale(1.2);
        overflow: hidden;
       }
          
        }
      }
    .btn-menu{
        height: 33px;
            width: 40px;
            margin-left: 30px;
            cursor: pointer;
            background-color: black;
            border-style: none;
            background-image: url('../files/icons/menu-img.png');
            background-size: cover;
            border-radius: 0;
            transition: all 0.2s ease;
        
    }
    .btn-menu:active{
        transform: rotate(90deg);
    }
    .img-menu{
        transition: all 0.3s ease-out;
        height: 4vh;
    }
    .img-menu:active{
        transform: rotate(50deg);
    }
    #menu-container{
        background-color: $color-theme;
        display: none;
        height: 50Vh;
        width: 30vw;
        position: fixed;
        border:2px $color-redlighter groove;
        z-index: 5;
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            .div-menu-text{
                width: 100%;
                background-color:$color-theme;
    
                a{
                    font-size: 1.2em;
                     text-decoration: none;
                     color: white;
                    transition: all 0.3s ease-in;
                    line-height: 40px;
                    margin-left: 10px;
                    padding-right: 18vw;
    
                }
                a:hover{
                    color:black;
                }
                transition: all 0.2s ease-out;
               
                }
                .div-menu-text:hover{
                    background-color:$color-heart;
                    
                }
            }
           
    }
    .circle1{
        background-color: $color-redlighter;
        height: 1400px;
        width: 1400px;
        border-radius: 50%;
        position: fixed;
        top: auto;
        bottom:calc(0% - 700px);
        left: calc(0% - 700px);
        animation-name:circle;
        overflow: hidden;
        animation-duration: 15s;
        z-index: 3;
        animation-iteration-count: infinite;
        
    }
    @keyframes circle {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.5);
    }
    
    }
    .circle2{
        height: 1000px;
        width: 1000px;
        background-color: $color-heart;
        border-radius: 50%;
        position: fixed;
        z-index: 1;
        top: auto;
        bottom:calc(0% - 500px);
        left: calc(50% - 500px);
        overflow: hidden;
        animation-name:circle2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        
    
    }
    @keyframes circle2 {
        0%{
            transform: scale(1.5);
        }
    50%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.5); 
        }
        
    }
    #img{
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-image: url("../files/img/IMG_6240.png");
        background-size: 100%;
        background-position: bottom 20px;
        background-repeat: no-repeat;
        position: absolute;
        right: 5vw;
        top: 10vw;
        animation-name: img;
        z-index: 5;
        animation-duration: 5s;
    }
    @keyframes img{
        from{
            position: absolute;
            right: 0;
            display: none;
            
        }
        to{
            width: 15vw;
        height: 15vw;
        position: absolute;
        right: 5vw;
        top: 10vw;
        display: block;
        }
        
    }
    .welcome-section{
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        font-family: my-font;
        color: black;
        font-size: 100px;
        animation: typing 10s ;
      }
    
      @keyframes typing {
        0%{
          width: 0;
        }
        50%{
            width: 25vw;
        }
        100%{
           width: 0;
        }
      }
      #info{
        height: 70vh;
        width: 70vw;
        position: absolute;
        z-index: 4;
        color: black;
        backdrop-filter:blur(50px);
        border-radius: 5%;
        position: absolute;
        left: 5vw;
        display: flex;
        line-height:3.5vw;
        align-items: center;
        p{
            font-size: 2em;
            color: white;
            margin-left: 2vw;
            .greet{
                color: $color-redlight;
            }
        }
        
      }
      #name{
        
        font-style: oblique;
        a{color: black;}
      }
      .div-photo-btn{
       height: 20vh;
       width: 20vw;
       display: flex;
       align-items: center;
       justify-content: center;
       position: absolute;
       right: 3vw;
       top: 30vw;
       z-index: 8;
       ul{
        list-style: none;
        line-height: 10vh;
        text-align-last: center;
        li{
            a{
                color: white;
                text-decoration: none;
                background-color: $color-redlighter;
                font-size: 2vw;
                padding:1vw;
                border-radius: 10px;
                transition: all 0.4s ease-out;
                
            }
            a:hover{
                background-color: $color-redlight;
                color: black;
                border-radius: 20px;
            }
        }
       }
    }
    .lang-logo{
    
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: row;
        position: absolute;
        top: 20px;
        right: calc(50% - 650px);
        animation-name: lang-icon;
        animation-duration: 5s;
        z-index: 5;
        img{
            height:4vw;
            width: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            transition: all 0.3s ease-out;
        }
        img:hover{
            transform: scale(1.5);
            padding-top: 1vw;
        }
    }
    @keyframes lang-icon {
        from{
            opacity: 0;
        }
        to{
            opacity: 6;
        }
    }
    
}

//////////////////////////////////////////////////////////
// phone sizes
@media only screen and (max-width: 930px) {
    body {
        background-color:$color-theme;
        height: 1200px;
        width: 100%;
        margin: 0;
        font-family: my-font;
      }
      .container{
        z-index: 6;
        nav{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
       height: 10vh;
       width: 100vw;
       
       
       .logo-img{
           height: 5vw;
           transition: all 0.3s ease-out;
           margin-right: 6vw;
           
    
       }
       .logo-img:hover{
        transform: scale(1.2);
        overflow: hidden;
       }
          
        }
      }
    .btn-menu{
        height: 33px;
        width: 40px;
        margin-left: 30px;
        cursor: pointer;
        background-color: $color-theme;
        border-style: none;
        background-image: url('../files/icons/menu-img.png');
        background-size: cover;
        border-radius: 0;
        
    }
    #menu-container{
        background-color: $color-theme;
        display: none;
        height: 50Vh;
        width: 30vw;
        position: fixed;
        border:2px $color-redlighter groove;
        z-index: 5;
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            .div-menu-text{
                width: 100%;
                background-color:$color-theme;
    
                a{
                    font-size: 1.2em;
                     text-decoration: none;
                     color: white;
                    transition: all 0.3s ease-in;
                    line-height: 40px;
                    margin-left: 10px;
                    padding-right: 18vw;
    
                }
                a:hover{
                    color:black;
                }
                transition: all 0.2s ease-out;
               
                }
                .div-menu-text:hover{
                    background-color:$color-heart;
                    
                }
            }
           
    }
    
    #img{
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        background-image: url("../files/img/IMG_6240.png");
        background-color: white;
        background-size: cover;
        background-position: bottom 20px;
        background-repeat: no-repeat;
        position: absolute;
        margin-top: 50px;
        right: calc(50% - 20vw);
        z-index: 3;
    }
   
    .welcome-section{
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        font-family: my-font;
        color: black;
        font-size: 100px;
        position: absolute;
        right: calc(50% - 155px);
        top: 60%;
        z-index: 3;
        animation: typing 10s ;
      }
    
      @keyframes typing {
        0%{
          width: 0;
        }
        50%{
            width: 310px;
        }
        100%{
           width: 0;
        }
      }
      #info{
        height: 90vw;
        width: 70vw;
        z-index: 4;
        background-color: rgba(0, 0, 0 , 0.1);
        border-radius: 5%;
        position: absolute;
        right: calc(50% - 35vw);
        top: 80%;
        p{
            font-size: 3vw;
            color:white;
            margin-left: 2vw;
            .greet{
                color: $color-redlight;
            }
        }
        
      }
      #name{
        
        font-style: oblique;
        a{color:$color-redlight;}
      }
      
    .lang-logo{
    
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: row;
        position: absolute;
        top: 20px;
        right: calc(50% - 50vw);
        animation-name: lang-icon;
        animation-duration: 5s;
        z-index: 5;
        img{
            height:6vw;
            width: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            transition: all 0.3s ease-out;
        }
        img:hover{
            transform: scale(1.9);
            padding-top: 1vw;
        }
    }
    @keyframes lang-icon {
        from{
            opacity: 0;
        }
        to{
            opacity: 6;
        }
    }
    .circle1{
        background-color: $color-redlighter;
        height: 1000px;
        width: 1000px;
        border-radius: 50%;
        position: fixed;
        top: auto;
        bottom:calc(0% - 500px);
        left: calc(0% - 500px);
        animation-name:circle;
        overflow: hidden;
        animation-duration: 15s;
        z-index: 1;
        animation-iteration-count: infinite;
        
    }
    @keyframes circle {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.5);
    }
    
    }
    .circle2{
        height: 1000px;
        width: 1000px;
        background-color: $color-heart;
        border-radius: 50%;
        position: fixed;
        z-index: 0;
        top: auto;
        bottom:calc(0% - 500px);
        left: calc(50% - 500px);
        overflow: hidden;
        animation-name:circle2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        
    
    }
    @keyframes circle2 {
        0%{
            transform: scale(1);
        }
    50%{
            transform: scale(0.5);
        }
        100%{
            transform: scale(1); 
        }
        
    }
    footer{
        .div-photo-btn{
            height: 20vw;
            width: 100vw;
            
            
            ul{
             height: 100%;
             width: 100%;
             list-style: none;
             line-height: 30px;
             display: flex;
             flex-direction: column;
             
             li{
                 a{
                     color: white;
                     text-decoration: none;
                     background-color: $color-redlighter;
                     font-size: 2vw;
                     padding:4px;
                     border: 1px black groove;
                     border-radius: 10px;
                     transition: all 0.4s ease-out;
                     
                 }
                 a:hover{
                     background-color: $color-redlight;
                     color: black;
                     border-radius: 20px;
                 }
             }
            }
         }
    }
}

